<body topmargin="1">

<table border="0" width="768" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
	<td background="{ROOT}/images/main_bg.gif">
		<table border="0" width="100%" cellpadding="0" cellspacing="0">
			<tr>
			    <td align="left">$LOGO$</td>
			    <td height="100%">$HEAD$</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr><td bgcolor="#E8F0FC" align="right">$CATEGORY$</td></tr>
  <tr><td height="1" class="navline"></td></tr>
  <tr>
    <td>
		<table border="0" width="100%" cellpadding="2" cellspacing="0">			
			<tr>
				<td width="180" valign="top">
					<table border="0" width="100%" cellpadding="0" cellspacing="0">	
					  <tr><td>$LOGIN$</td></tr>
					  <tr><td height="5"> </td></tr>
					  <tr><td>$CALENDAR$</td></tr>
					  <tr><td height="5"> </td></tr>
					  <tr><td>$TOP_COMMENT$</td></tr>
					  <tr><td height="5"> </td></tr>
					  <tr><td>$MEMBERS$</td></tr>
					  <tr><td height="5"> </td></tr>
					  <tr><td>$LINKS$</td></tr>
					  <tr><td height="5"> </td></tr>
					  <tr><td>$BLOG$</td></tr>
					  <tr><td height="5"> </td></tr>
					</table>
				</td>
				<td valign="top">
					<table border="0" width="100%"><tr><td>$BODY$</td></tr></table>
				</td>
			</tr>
		</table>
    </td>
  </tr>
  <tr><td class="bottom_line" height="1"></td></tr>
  <tr><td>$COPYRIGHT$</td></tr>
</table>
</body>