<body topmargin="1">

<div id="googlead" style="position:absolute; left:780px; top:94px; width:120px; height:240px; z-index:1">
<script type="text/javascript"><!--
google_ad_client = "pub-1384184129614855";
google_ad_width = 120;
google_ad_height = 600;
google_ad_format = "120x600_as";
google_ad_channel ="";
google_color_border = "336699";
google_color_bg = "FFFFFF";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<table border="0" width="768" align="left" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
	<td height=70 background="{ROOT}/images/main_bg.gif">
		<table border="0" width="100%" cellpadding="0" cellspacing="0">
			<tr>
			    <td align="left">$LOGO$</td>
			    <td height="100%">$HEAD$</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr><td bgcolor="#E8F0FC" align="right">$CATEGORY$</td></tr>
  <tr><td height="1" class="navline"></td></tr>
  <tr>
    <td>
		<table border="0" width="100%" cellpadding="2" cellspacing="0">			
			<tr>
				<td width="180" valign="top">
					<table border="0" width="100%" cellpadding="0" cellspacing="0">		
					  <tr><td>$LOGIN$</td></tr>
					  <tr><td height="5"> </td></tr>
				  <tr><td>$TOP_COMMENT$</td></tr>
					  <tr><td height="5"> </td></tr>
					  <tr><td>$LINKS$</td></tr>
					  <tr><td height="5"> </td></tr>					  <tr><td>$CALENDAR$</td></tr>
					  <tr><td height="5"> </td></tr>

					  <tr><td>$MEMBERS$</td></tr>
					  <tr><td height="5"> </td></tr>
					  <tr><td>$BLOG$</td></tr>
					  <tr><td height="5"> </td></tr>
					</table>
				</td>
				<td valign="top">
					<table border="0" width="100%"><tr><td>$BODY$</td></tr></table>
				</td>
			</tr>
		</table>
    </td>
  </tr>
  <tr><td class="bottom_line" height="1"></td></tr>
  <tr><td>$COPYRIGHT$</td></tr>
</table>
</body>