<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>sys.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>sys.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginChickUserName</servlet-name>
		<servlet-class>sys.servlet.LoginChickUserName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginChickUserName</servlet-name>
		<url-pattern>/loginChickUserName</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginChickPwd</servlet-name>
		<servlet-class>sys.servlet.LoginChickPwd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginChickPwd</servlet-name>
		<url-pattern>/loginChickPwd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginParameter</servlet-name>
		<servlet-class>sys.servlet.LoginParameter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginParameter</servlet-name>
		<url-pattern>/loginParameter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Keyword</servlet-name>
		<servlet-class>crm.sales.add.Keyword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Keyword</servlet-name>
		<url-pattern>/keywordSelect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DistrictAjax</servlet-name>
		<servlet-class>crm.sales.DistrictAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DistrictAjax</servlet-name>
		<url-pattern>/districtAjax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCompany</servlet-name>
		<servlet-class>crm.sales.add.AddCompany</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCompany</servlet-name>
		<url-pattern>/addCompany</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SelectC</servlet-name>
		<servlet-class>crm.sales.c.SelectC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectC</servlet-name>
		<url-pattern>/selectC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Exit</servlet-name>
		<servlet-class>sys.servlet.Exit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Exit</servlet-name>
		<url-pattern>/exit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Cinfo</servlet-name>
		<servlet-class>crm.sales.c.Info</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cinfo</servlet-name>
		<url-pattern>/cinfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CtoA</servlet-name>
		<servlet-class>crm.sales.c.CtoA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CtoA</servlet-name>
		<url-pattern>/cToa</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Chick</servlet-name>
		<servlet-class>crm.sales.add.Chick</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Chick</servlet-name>
		<url-pattern>/chick</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Clear</servlet-name>
		<servlet-class>crm.sales.c.Clear</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Clear</servlet-name>
		<url-pattern>/clear</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScarchC</servlet-name>
		<servlet-class>crm.sales.c.SearchC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScarchC</servlet-name>
		<url-pattern>/scarchc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Attorning</servlet-name>
		<servlet-class>crm.sales.attorn.Attorning</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Attorning</servlet-name>
		<url-pattern>/attorning</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CancelAttorn</servlet-name>
		<servlet-class>crm.sales.attorn.CancelAttorn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelAttorn</servlet-name>
		<url-pattern>/cancelAttorn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Incepting</servlet-name>
		<servlet-class>crm.sales.attorn.Incepting</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Incepting</servlet-name>
		<url-pattern>/incepting</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Incept</servlet-name>
		<servlet-class>crm.sales.attorn.Incept</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Incept</servlet-name>
		<url-pattern>/incept</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SelectA</servlet-name>
		<servlet-class>crm.sales.a.SelectA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectA</servlet-name>
		<url-pattern>/selectA</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InfoA</servlet-name>
		<servlet-class>crm.sales.a.Info</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoA</servlet-name>
		<url-pattern>/infoA</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Turn</servlet-name>
		<servlet-class>crm.sales.Turn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Turn</servlet-name>
		<url-pattern>/turn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddLinkman</servlet-name>
		<servlet-class>crm.sales.a.AddLinkman</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLinkman</servlet-name>
		<url-pattern>/addLinkman</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddNarrate</servlet-name>
		<servlet-class>crm.sales.a.AddNarrate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNarrate</servlet-name>
		<url-pattern>/addNarrate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddVisit</servlet-name>
		<servlet-class>crm.sales.a.AddVisit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVisit</servlet-name>
		<url-pattern>/addVisit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCompany</servlet-name>
		<servlet-class>crm.sales.a.DeleteCompany</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCompany</servlet-name>
		<url-pattern>/deleteCompany</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AtoB</servlet-name>
		<servlet-class>crm.sales.a.AtoB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtoB</servlet-name>
		<url-pattern>/aTob</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Attorn</servlet-name>
		<servlet-class>crm.sales.a.Attorn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Attorn</servlet-name>
		<url-pattern>/attorn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Select</servlet-name>
		<servlet-class>crm.sales.b.Select</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Select</servlet-name>
		<url-pattern>/select</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InfoB</servlet-name>
		<servlet-class>crm.sales.b.Info</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoB</servlet-name>
		<url-pattern>/infoB</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddLinkmanB</servlet-name>
		<servlet-class>crm.sales.b.AddLinkman</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLinkmanB</servlet-name>
		<url-pattern>/addLinkmanb</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddNarrateB</servlet-name>
		<servlet-class>crm.sales.b.AddNarrate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNarrateB</servlet-name>
		<url-pattern>/addNarrateb</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddVisitB</servlet-name>
		<servlet-class>crm.sales.b.AddVisit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVisitB</servlet-name>
		<url-pattern>/addVisitb</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCompanyB</servlet-name>
		<servlet-class>crm.sales.b.DeleteCompany</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCompanyB</servlet-name>
		<url-pattern>/deleteCompanyb</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttornB</servlet-name>
		<servlet-class>crm.sales.b.Attorn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttornB</servlet-name>
		<url-pattern>/attornb</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Searchab</servlet-name>
		<servlet-class>crm.sales.searchab.Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Searchab</servlet-name>
		<url-pattern>/searchab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Clearab</servlet-name>
		<servlet-class>crm.sales.searchab.Clear</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Clearab</servlet-name>
		<url-pattern>/clearab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Editpwd</servlet-name>
		<servlet-class>sys.servlet.EditPwd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Editpwd</servlet-name>
		<url-pattern>/editpwd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MCompany</servlet-name>
		<servlet-class>crm.manager.MCompany</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MCompany</servlet-name>
		<url-pattern>/mCompany</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MInfo</servlet-name>
		<servlet-class>crm.manager.Info</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MInfo</servlet-name>
		<url-pattern>/minfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Mattorn</servlet-name>
		<servlet-class>crm.manager.Attorn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mattorn</servlet-name>
		<url-pattern>/mattorn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MDelectCompany</servlet-name>
		<servlet-class>crm.manager.DeleteCompany</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MDelectCompany</servlet-name>
		<url-pattern>/mdelectcompany</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DStatistic</servlet-name>
		<servlet-class>crm.manager.DStatistic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DStatistic</servlet-name>
		<url-pattern>/dstatistic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Aim</servlet-name>
		<servlet-class>crm.manager.Aim</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Aim</servlet-name>
		<url-pattern>/aim</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VList</servlet-name>
		<servlet-class>crm.manager.VisitList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VList</servlet-name>
		<url-pattern>/vList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeptAjax</servlet-name>
		<servlet-class>crm.filiale.DeptAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeptAjax</servlet-name>
		<url-pattern>/deptAjax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FCompany</servlet-name>
		<servlet-class>crm.filiale.FCompany</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FCompany</servlet-name>
		<url-pattern>/fCompany</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Fattorn</servlet-name>
		<servlet-class>crm.filiale.Attorn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fattorn</servlet-name>
		<url-pattern>/fattorn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FDelectCompany</servlet-name>
		<servlet-class>crm.filiale.DeleteCompany</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FDelectCompany</servlet-name>
		<url-pattern>/fdelectcompany</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FVList</servlet-name>
		<servlet-class>crm.filiale.VisitList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FVList</servlet-name>
		<url-pattern>/fvList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FCList</servlet-name>
		<servlet-class>crm.filiale.SelectC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FCList</servlet-name>
		<url-pattern>/fcList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Fscarchc</servlet-name>
		<servlet-class>crm.filiale.SearchC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fscarchc</servlet-name>
		<url-pattern>/fscarchc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Finfo</servlet-name>
		<servlet-class>crm.filiale.Info</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Finfo</servlet-name>
		<url-pattern>/finfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Saim</servlet-name>
		<servlet-class>crm.filiale.SAim</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Saim</servlet-name>
		<url-pattern>/saim</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fStatistic</servlet-name>
		<servlet-class>crm.filiale.Statistic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fStatistic</servlet-name>
		<url-pattern>/fStatistic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndustryAjax</servlet-name>
		<servlet-class>crm.sales.IndustryAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndustryAjax</servlet-name>
		<url-pattern>/IndustryAjax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Industry</servlet-name>
		<servlet-class>sem.bill.IndustryAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Industry</servlet-name>
		<url-pattern>/industry</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Bill</servlet-name>
		<servlet-class>sem.bill.BillAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bill</servlet-name>
		<url-pattern>/bill</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ComAjax</servlet-name>
		<servlet-class>hrm.ajax.ComAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComAjax</servlet-name>
		<url-pattern>/comAjax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserNameChickAjax</servlet-name>
		<servlet-class>hrm.ajax.UserChickAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserNameChickAjax</servlet-name>
		<url-pattern>/UserNameChickAjax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddPersonnel</servlet-name>
		<servlet-class>hrm.add.AddPersonnel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPersonnel</servlet-name>
		<url-pattern>/addPersonnel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SelectPersonnel</servlet-name>
		<servlet-class>hrm.select.SelectPersonnel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectPersonnel</servlet-name>
		<url-pattern>/selectPersonnel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PersonnelInfo</servlet-name>
		<servlet-class>hrm.select.PersonnelInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PersonnelInfo</servlet-name>
		<url-pattern>/personnelInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdatePersonnel</servlet-name>
		<servlet-class>hrm.update.UpdatePersonnel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePersonnel</servlet-name>
		<url-pattern>/updatePersonnel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Pass</servlet-name>
		<servlet-class>hrm.update.Pass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pass</servlet-name>
		<url-pattern>/pass</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Out</servlet-name>
		<servlet-class>hrm.update.OutPersonnel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Out</servlet-name>
		<url-pattern>/out</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ROut</servlet-name>
		<servlet-class>hrm.update.ROutPersonnel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ROut</servlet-name>
		<url-pattern>/rout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttornAll</servlet-name>
		<servlet-class>crm.filiale.AttornAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttornAll</servlet-name>
		<url-pattern>/attornall</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Sorts</servlet-name>
		<servlet-class>ad.ajax.Sorts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sorts</servlet-name>
		<url-pattern>/sorts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Bills</servlet-name>
		<servlet-class>ad.ajax.Bills</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bills</servlet-name>
		<url-pattern>/bills</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MExport</servlet-name>
		<servlet-class>crm.manager.Export</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MExport</servlet-name>
		<url-pattern>/mexport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FExport</servlet-name>
		<servlet-class>crm.filiale.Export</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FExport</servlet-name>
		<url-pattern>/fexport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>crm.sales.a.Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Updateb</servlet-name>
		<servlet-class>crm.sales.b.Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Updateb</servlet-name>
		<url-pattern>/updateb</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddLandV</servlet-name>
		<servlet-class>crm.sales.a.Addlandv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLandV</servlet-name>
		<url-pattern>/addLandv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddSort</servlet-name>
		<servlet-class>ad.add.AddSort</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSort</servlet-name>
		<url-pattern>/addSort</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddBill</servlet-name>
		<servlet-class>ad.add.AddBill</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBill</servlet-name>
		<url-pattern>/addBill</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>AdInfo</servlet-name>
    	<servlet-class>ad.op.AdInfo</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>AdInfo</servlet-name>
    	<url-pattern>/AdInfo</url-pattern>
    </servlet-mapping>
	<servlet>
    	<servlet-name>UpdateBill</servlet-name>
    	<servlet-class>ad.op.UpdateBill</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>UpdateBill</servlet-name>
    	<url-pattern>/updateBill</url-pattern>
    </servlet-mapping>
	<servlet>
    	<servlet-name>CompanyList</servlet-name>
    	<servlet-class>ad.ajax.CompanyList</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>CompanyList</servlet-name>
    	<url-pattern>/companyList</url-pattern>
    </servlet-mapping>
	<servlet>
    	<servlet-name>Destine</servlet-name>
    	<servlet-class>ad.op.Destine</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Destine</servlet-name>
    	<url-pattern>/destine</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>must https</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<error-page>
		<error-code>400</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/errorPage.htm</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/errorPage.htm</location>
	</error-page>
</web-app>
