.biao {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 150%; FONT-FAMILY: ""; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000
}
.unnamed1 {
	BORDER-RIGHT: #31557f 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cce3ff 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #9eaccd; PADDING-BOTTOM: 2px; MARGIN: 2px; WORD-SPACING: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #cce3ff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #31557f 1px solid; LETTER-SPACING: 0px; HEIGHT: 20px; TEXT-DECORATION: none
}
.geshi {
	FONT-SIZE: 14px; COLOR: #666666; FONT-FAMILY: "Բ"; TEXT-DECORATION: none
}
.gundong {
	SCROLLBAR-HIGHLIGHT-COLOR: #a3c6f4; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #a3c6f4; SCROLLBAR-BASE-COLOR: #a3c6f4; BODY: #ffffff
}
.inputcolor {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.lian {
	FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: ""; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: ""; TEXT-DECORATION: none
}
A:hover {
	COLOR: #990000
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.login {
	BORDER-RIGHT: #000099 0px solid; BORDER-TOP: #000099 0px solid; BORDER-LEFT: #000099 0px solid; COLOR: #ff0000; BORDER-BOTTOM: #000099 1px solid; BACKGROUND-COLOR: #e7edfa
}
.strongtop {
	FONT-WEIGHT: bold; COLOR: #333333
}
.TDbg {
	BACKGROUND-COLOR: #e7edfa
}
.TDfont {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000099; FONT-FAMILY: ""
}
.TDhui {
	BACKGROUND-COLOR: #f5f5f5
}
.TDwhite {
	FONT-SIZE: 12px; FONT-FAMILY: ""; BACKGROUND-COLOR: #ffffff
}
.textbox {
	BORDER-RIGHT: #000099 0px solid; BORDER-TOP: #000099 0px solid; BORDER-LEFT: #000099 0px solid; COLOR: #ff0000; BORDER-BOTTOM: #000099 1px solid; BACKGROUND-COLOR: #ffffff
}
.topbei {
	BACKGROUND-COLOR: #a3c6f4
}
.main {
	FONT-SIZE: 14px; COLOR: #666666; FONT-FAMILY: "Բ"; TEXT-DECORATION: none
}
.lujing {
	FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: ""; TEXT-DECORATION: none
}
.textboxW {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; BORDER-LEFT: #000000 0px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
.textboxB {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; FONT-SIZE: 14px; BORDER-LEFT: #000000 0px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #e7edfa; mainstrong: ""
}
.mainstrong {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 150%; FONT-FAMILY: ""
}
