BODY {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt; TEXT-DECORATION: none
}
.submit_button_1 {
	BORDER-RIGHT: #000000 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ad98c0 2px solid; PADDING-LEFT: 2px; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #ad98c0 2px solid; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 2px solid; FONT-FAMILY: "ËÎÌå"; HEIGHT: 20px; BACKGROUND-COLOR: #451174
}
.Main_Menu {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: none
}
.Main_Menu A {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: none
}
.Main_Menu A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: none
}
.Main_Menu A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: none
}
.Main_Menu A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #ff0000; TEXT-DECORATION: none
}
.Left_Menu {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-DECORATION: none
}
.Left_Menu A {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-DECORATION: none
}
.Left_Menu A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-DECORATION: none
}
.Left_Menu A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-DECORATION: none
}
.Left_Menu A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000; TEXT-DECORATION: none
}
TD.Menu16pt {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #0000ff; FONT-FAMILY: ¿¬Ìå_GB2312,ËÎÌå; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.Menu16pt A {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #0000ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.Menu16pt A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #0000ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.Menu16pt A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #0000ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.Menu16pt A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #0000ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.Menu16pt A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #ff0000; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
A {
	FONT-SIZE: 9pt; COLOR: #ff6600; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 9pt; COLOR: #ff6600; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #ff6600; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.B {
	FONT-SIZE: 9pt; COLOR: #0066ff; TEXT-DECORATION: underline
}
A.B:link {
	FONT-SIZE: 9pt; COLOR: #0066ff; TEXT-DECORATION: underline
}
A.B:visited {
	FONT-SIZE: 9pt; COLOR: #0066ff; TEXT-DECORATION: underline
}
A.B:hover {
	FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.C {
	FONT-SIZE: 9pt; COLOR: #cc3333; TEXT-DECORATION: none
}
A.C:hover {
	FONT-SIZE: 9pt; COLOR: #cc0000; TEXT-DECORATION: underline
}
A.D {
	FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.D:hover {
	FONT-SIZE: 9pt; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.E {
	FONT-SIZE: 9pt; COLOR: #cc0000; TEXT-DECORATION: underline
}
A.E:hover {
	FONT-SIZE: 9pt; COLOR: #cc6666; TEXT-DECORATION: none
}
A.F {
	FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: underline
}
A.F:link {
	FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: underline
}
A.F:visited {
	FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.F:hover {
	FONT-SIZE: 9pt; COLOR: #ff6600; TEXT-DECORATION: none
}
A.Y {
	FONT-SIZE: 9pt; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.Y:link {
	FONT-SIZE: 9pt; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.Y:visited {
	FONT-SIZE: 9pt; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.Y:hover {
	FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.R {
	FONT-SIZE: 9pt; COLOR: #ff0000; TEXT-DECORATION: none
}
A.R:link {
	FONT-SIZE: 9pt; COLOR: #ff0000; TEXT-DECORATION: none
}
A.R:visited {
	FONT-SIZE: 9pt; COLOR: #ff0000; TEXT-DECORATION: none
}
A.R:hover {
	FONT-SIZE: 9pt; COLOR: #ff6600; TEXT-DECORATION: none
}
.TxtTitle18 {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #cc0000; LINE-HEIGHT: 30px
}
.TxtTitle16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #cc0000; LINE-HEIGHT: 28px
}
.TxtTitle14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #cc0000; LINE-HEIGHT: 26px
}
.TxtTitle12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #cc0000; LINE-HEIGHT: 24px
}
.TxtTitle10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc0000; LINE-HEIGHT: 20px
}
.Txt-12 {
	FONT-SIZE: 12pt; COLOR: #000000; LINE-HEIGHT: 16pt
}
.Txt-12-leaded {
	FONT-SIZE: 12pt; COLOR: #333333; LINE-HEIGHT: 16pt
}
.Txt-12-leaded-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 12pt; COLOR: #333333; LINE-HEIGHT: 16pt
}
.Txt-12-light {
	FONT-SIZE: 12pt; COLOR: #333333; LINE-HEIGHT: 16pt
}
.Txt-12-lightred {
	FONT-SIZE: 12pt; COLOR: red; LINE-HEIGHT: 16pt
}
.Txt-12-lightred-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 12pt; COLOR: red; LINE-HEIGHT: 14pt
}
.Txt-12-red {
	FONT-SIZE: 12pt; COLOR: #cc0000; LINE-HEIGHT: 16pt
}
.Txt-12-red-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 12pt; COLOR: #cc0000; LINE-HEIGHT: 16pt
}
.Txt-12-yellow {
	FONT-SIZE: 12pt; COLOR: #ff6600; LINE-HEIGHT: 16pt
}
.Txt-12-yellow-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 12pt; COLOR: #ff6600; LINE-HEIGHT: 16pt
}
.Txt-12-18 {
	FONT-SIZE: 12pt; COLOR: #000000; LINE-HEIGHT: 18pt
}
.Txt-10 {
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 16pt
}
.Txt-10-leaded {
	FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 16pt
}
.Txt-10-leaded-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 16pt
}
.Txt-10-light {
	FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 16pt
}
.Txt-10-lightred {
	FONT-SIZE: 10pt; COLOR: red; LINE-HEIGHT: 16pt
}
.Txt-10-lightred-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: red; LINE-HEIGHT: 16pt
}
.Txt-10-red {
	FONT-SIZE: 10pt; COLOR: #cc0000; LINE-HEIGHT: 16pt
}
.Txt-10-red-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #cc0000; LINE-HEIGHT: 16pt
}
.Txt-10-yellow {
	FONT-SIZE: 10pt; COLOR: #ff6600; LINE-HEIGHT: 16pt
}
.Txt-10-yellow-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #ff6600; LINE-HEIGHT: 16pt
}
.Txt-10-18 {
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 18pt
}
.Txt-9 {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt
}
.Txt-9-leaded {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 14pt
}
.Txt-9-leaded-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 14pt
}
.Txt-9-light {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 14pt
}
.Txt-9-lightred {
	FONT-SIZE: 9pt; COLOR: red; LINE-HEIGHT: 14pt
}
.Txt-9-lightred-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 9pt; COLOR: red; LINE-HEIGHT: 14pt
}
.Txt-9-red {
	FONT-SIZE: 9pt; COLOR: #cc0000; LINE-HEIGHT: 14pt
}
.Txt-9-red-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 9pt; COLOR: #cc0000; LINE-HEIGHT: 14pt
}
.Txt-9-yellow {
	FONT-SIZE: 9pt; COLOR: #ff6600; LINE-HEIGHT: 14pt
}
.Txt-9-yellow-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 9pt; COLOR: #ff6600; LINE-HEIGHT: 14pt
}
.Txt-9-grey {
	FONT-SIZE: 9pt; COLOR: #888888; LINE-HEIGHT: 14pt
}
.Txt-9-grey-b {
	FONT-WEIGHT: bolder; FONT-SIZE: 9pt; COLOR: #888888; LINE-HEIGHT: 14pt
}
.Txt-9-18 {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 18pt
}
.Txt-9-16 {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 16pt
}
.links {
	BORDER-RIGHT: #2d559f 1px dotted; BORDER-TOP: #2d559f 1px dotted; BACKGROUND: #ffffff; BORDER-LEFT: #2d559f 1px dotted; BORDER-BOTTOM: #2d559f 1px dotted
}
.TitleBar1 {
	BORDER-RIGHT: #8f8f8f 1px; BORDER-TOP: #8f8f8f 1px; BACKGROUND: #e6e3d8; BORDER-LEFT: #8f8f8f 1px; BORDER-BOTTOM: #e6e3d8 0px
}
.TitleBar2 {
	BORDER-RIGHT: #8f8f8f 1px; BORDER-TOP: 0px; BACKGROUND: #e6e3d8; BORDER-LEFT: #8f8f8f 1px; BORDER-BOTTOM: 0px
}
.TxtInput {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #000000 1px solid; COLOR: black; BORDER-BOTTOM: #000000 1px solid
}
.TxtInput1 {
	BORDER-RIGHT: #f4f1e5 1px solid; BORDER-TOP: #f4f1e5 1px solid; BACKGROUND: #f4f1e5; BORDER-LEFT: #f4f1e5 1px solid; COLOR: black; BORDER-BOTTOM: #000000 1px solid
}
.Left_Column {
	BORDER-TOP: #888888 1px solid; BORDER-LEFT: #888888 1px solid; BORDER-BOTTOM: #888888 1px solid
}
